<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.jamie.mapper.ProductCategoryMapper">

    <select id="findNameByType" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT category_name FROM product_category WHERE category_id = #{id}
    </select>

</mapper>
